body {
  background: #ddd;
}
.App {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.book_lists {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.single_book_item {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 0 1px #000;
  background: #fff;
  padding: 15px;
}
.single_book_item img {
  max-width: 100%;
  height: auto;
}